#corpo{
	width: 375px;
	padding: 1.5rem 1rem;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}

.header a.header-link{
	color: #fff
}

.header a.button-matricula{
	display: flex;
	align-items: center;
	background-color: var(--bg-button);
	color: var(--bg-color);
	padding: 1rem 1.2rem;
	border-radius: 2rem;
	height: 2.5rem;
	font-family: var(--lato-font);
	font-size: .79rem;
	font-weight: 700;
	cursor: pointer;
	transition: .4s;
}

.header a.button-matricula:hover{
	transform: translateY(-3px);
}

.nav{
	border-block: 1px solid #fff;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.nav a{
	color: #fff;
    font-size: .7rem;
    transition: .3s;
    width: 21%;
}

.nav a:hover{
	color: var(--link-hover)
}

section.formacoes-title{
	padding-bottom: 6.688em;
}

section.formacoes-title h3{
	color: #fff;
	line-height: 2.5;
	font-family: "Courier New", monospace;
}

section.formacoes-title h1{
	color: #fff;
	font-size: 2.125rem;
	font-weight: 400;
	line-height: 1.2;
	background: -webkit-linear-gradient(left,#167bf7 0%,#a3ffbf 46%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section.formacoes-about{
	background-color: #fff;
	box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
	border: solid 1px #eff1f9;
	padding: 2.1875em 1rem;
	margin-inline: -1rem;
}

section.formacoes-about{
	color: var(--color-paragraph);
}

section.formacoes-about .chamadas-header p.title{
	font-size: 1.875rem;
	text-transform: uppercase;
	margin-bottom: .5em;
}

section.formacoes-about .chamadas-header p.description{
	line-height: 1.4;
}

section.formacoes-about .chamadas-first,
section.formacoes-about .chamadas-second,
section.formacoes-about .chamadas-third{
	margin-block: 3.2rem;
}

section.formacoes-about .chamadas-first p.title,
section.formacoes-about .chamadas-second p.title,
section.formacoes-about .chamadas-third p.title{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .5em;
}

section.formacoes-about .chamadas-first p.description,
section.formacoes-about .chamadas-second p.description,
section.formacoes-about .chamadas-third p.description{
	line-height: 1.4;
}

div.container{
	padding-block: 2em;
	color: var(--bg-color);
	background-color: #f8f9fa;
	margin-inline: -1rem;
	padding-inline: 1rem;
}

div.container-title{
	line-height: 1.2;
}

div.container-title p.title{
	font-family: "Courier New", monospace;
}

div.container-title p.description{
	width: 12em;
	font-size: 1.375rem;
}

div.container-cards{
	box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
	border: solid 1px #eff1f9;
	background-color: #fff;
	margin-top: 1.875em;
	padding: 1.5rem;
}

header.container-cards-header{
	display: flex;
}

div.container-cards-header-img img{
	width: 3.125em;
	height: 3.125em;
	margin: -.3125em .625em 0 0;
}

div.container-cards-header-p p.title-programacao,
div.container-cards-header-p p.subtitle-programacao{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-programation);
}

div.container-cards-header-p p.subtitle-programacao{
	font-size: 1.25rem;
}

div.container-cards-faixa-programacao,
div.container-cards-faixa-frontend,
div.container-cards-faixa-datascience,
div.container-cards-faixa-devops,
div.container-cards-faixa-design,
div.container-cards-faixa-mobile,
div.container-cards-faixa-inovation{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .813rem;
	line-height: 2.5;
	color: #fff;
	width: calc(100% + 3rem);
	margin-block: 2rem;
	margin-inline: -1.5rem;
}

div.container-cards-faixa-programacao{
	background-color: var(--color-card-programation);
}

div.container-cards-faixa i.bi-fast-forward{
	color: #fff;
}

div.cards{
	padding: 1.0625em 6.75em .6875em 1.125em;
	border-radius: 5px;
	border: solid 1px #ecf5ff;
	margin-bottom: 1.8125em;
}

div.cards a.cards-title-link{
	max-width: 10.9375em;
	max-height: 2.25em;
	font-size: .938rem;
	line-height: 1.2;
	font-weight: normal;
	color: var(--color-cards);
}

div.cards a.cards-title-link:hover{
	text-decoration: underline;
}

div.cards div.cards-cursos{
	display: flex;
	gap: .4rem;
	font-size: .688rem;
	line-height: 1.82;
	color: var(--color-cards);
}

div.cards div.cards-cursos span.programacao{
	color: var(--color-card-programation);
}

div.container-cards-header-p p.title-frontend,
div.container-cards-header-p p.subtitle-frontend{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-frontend);
}

div.container-cards-header-p p.subtitle-frontend{
	font-size: 1.25rem;
}

div.container-cards-faixa-frontend{
	background-color: var(--color-card-frontend);
}

div.cards div.cards-cursos span.frontend{
	color: var(--color-card-frontend);
}

div.container-cards-header-p p.title-datascience,
div.container-cards-header-p p.subtitle-datascience{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-datascience);
}

div.container-cards-header-p p.subtitle-datascience{
	font-size: 1.25rem;
}

div.container-cards-faixa-datascience{
	background-color: var(--color-card-datascience);
}

div.cards div.cards-cursos span.datascience{
	color: var(--color-card-datascience);
}

div.container-cards-header-p p.title-devops,
div.container-cards-header-p p.subtitle-devops{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-devops);
}

div.container-cards-header-p p.subtitle-devops{
	font-size: 1.25rem;
}

div.container-cards-faixa-devops{
	background-color: var(--color-card-devops);
}

div.cards div.cards-cursos span.devops{
	color: var(--color-card-devops);
}

div.container-cards-header-p p.title-design,
div.container-cards-header-p p.subtitle-design{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-design);
}

div.container-cards-header-p p.subtitle-design{
	font-size: 1.25rem;
}

div.container-cards-faixa-design{
	background-color: var(--color-card-design);
}

div.cards div.cards-cursos span.design{
	color: var(--color-card-design);
}

div.container-cards-header-p p.title-mobile,
div.container-cards-header-p p.subtitle-mobile{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-mobile);
}

div.container-cards-header-p p.subtitle-mobile{
	font-size: 1.25rem;
}

div.container-cards-faixa-mobile{
	background-color: var(--color-card-mobile);
}

div.cards div.cards-cursos span.mobile{
	color: var(--color-card-mobile);
}

div.container-cards-header-p p.title-inovation,
div.container-cards-header-p p.subtitle-inovation{
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-card-inovation);
}

div.container-cards-header-p p.subtitle-inovation{
	font-size: 1.25rem;
}

div.container-cards-faixa-inovation{
	background-color: var(--color-card-inovation);
}

div.cards div.cards-cursos span.inovation{
	color: var(--color-card-inovation);
}

section.searchCard{
	position: relative;
	background-image: radial-gradient(circle at 50% 41%,#051933,#167bf7 100%);
	/*filter: blur(30px);*/
	margin-inline: -1rem;
	padding: 2rem 1rem;
}

section.searchCard p{
	font-size: 1.375rem;
	line-height: 1.4;
	color: #FFF;
}

section.searchCard form{
	display: flex;
	flex-direction: column;
	gap: .7rem;
	margin-top: 2rem;
}

section.searchCard form input{
	padding: .8rem;
	border-radius: 5px;
	background-color: #fff;
	color: var(--bg-color);
	font-size: 1.2rem;
}

section.searchCard form input[type="submit"]{
	cursor: pointer;
}

section.prices{
	background-color: #fff;
    margin-inline: -1rem;
    padding: 1rem;
}

section.prices h2.title{
	padding-top: 70px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-title);
    text-align: center;
    letter-spacing: -.018em;
}

div.container-payments section.payments{
	background-image: url(../assets/icon-plan-premium-2.svg);
    background-repeat: no-repeat;
    width: 90%;
    margin-block: 2rem;
    margin-inline: auto;
    padding: 2.5rem 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(120,135,182,.3);
    border-radius: 1px;
}

section.payments header.payments-header{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 250%;
    margin-bottom: 1rem;
}

section.payments header.payments-header h3{
	text-transform: uppercase;
    color: var(--color-title);
    font-weight: 400;
}

section.payments section.payments-section{
	line-height: 220%;
    color: var(--color-paragraph);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

section.payments section.payments-section p.title{
	display: flex;
    align-items: center;
}

section.payments section.payments-section span{
	font-size: 2.188rem;
    letter-spacing: .001em;
}

section.payments ul.payments-list li{
	display: flex;
    gap: 1rem;
    font-size: .875rem;
    color: var(--color-paragraph);
    padding-bottom: .5rem;
    margin-top: 1rem;
}

section.payments ul.payments-list li i.bi-check-lg{
	color: var(--color-title);
    height: 12px;
    width: 15px;
    font-size: 1.2rem;
}

section.payments ul.payments-list li i.off{
	color: #dce5f1;
}

section.pro{
	border-top: 12px solid var(--color-title);
}

section.prices a.prices-link{
	display: block;
    padding-block: 2rem;
    color: var(--color-paragraph);
    font-size: .875rem;
    text-align: center;
    text-decoration: underline;
}

section.advantages{
	padding: 4.132em 0;
    font-size: 1.2rem;
    color: #e5f1ff;
    background-color: var(--bg-container);
    margin-inline: -1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

section.advantages div.advantages-div{
	text-align: center;
    line-height: 180%;
    width: 60%;
}

footer.footer{
	padding: 2.5rem 3rem;
    color: #fff;
    text-align: center;
}

header.footer-header h2.title{
	padding-block: 2rem 1.5rem;
}

header.footer-header ul.list{
	display: flex;
	justify-content: center;
	align-items: center;
    gap: .7rem;
}

header.footer-header ul.list li a i.bi{
	font-size: 1.2rem;
    color: var(--color-paragraph);
    background-color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: .3rem;
}

footer.footer section.container-dl{
	margin-block: 4.5rem 2rem;
    text-align: left;
}

footer.footer section.container-dl dl{
	padding-bottom: 2rem;
}

footer.footer section.container-dl dl dt{
	font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

footer.footer section.container-dl dl dd{
	line-height: 250%;
}

footer.footer section.container-dl dl dd a{
	color: #fff;
    font-size: .875rem;
    transition: .5s;
}

footer.footer section.container-dl dl dd a:hover{
	color: var(--link-hover);
}

footer.footer section.container-dl dl #button-whatsapp{
	display: flex;
    align-items: center;

    border: 2px solid #34af23;
    background-color: transparent;
    padding: .8rem;
    border-radius: .5rem;
    font-size: .75rem;
    height: 40px;
}

footer.footer section.container-dl dl #button-whatsapp i.bi-whatsapp{
	color: #34af23;
    font-size: 1rem;
    margin-right: 5px;
}

footer.footer section.container-dl dl button.button-receber{
	background-color: var(--bg-color);
    display: flex;
    width: 100%;
    border: 2px solid #fff;
    border-radius: .3rem;
    padding: 1rem;
    color: #fff;
    font-size: .875rem;
    cursor: pointer;
    transition: .3s;
}

footer.footer section.container-dl dl button.button-receber:hover{
	border-color: var(--color-title);
}

footer.footer section.container-dl dl button.button-receber input.input{
	width: 70%;
    border: none;
    background-color: transparent;
}

footer.footer section.container-dl dl button.button-receber input.input::placeholder{
	color: #ddd;
    font-size: .875rem;
}

@media(max-width: 768px){
	#corpo{
		width: 768px;
	}
}