#corpo{
	width: 375px;
	padding: 1.5rem 1rem;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}

.header a.header-link{
	color: #fff
}

.header a.button-matricula{
	display: flex;
	align-items: center;
	background-color: var(--bg-button);
	color: var(--bg-color);
	padding: 1rem 1.2rem;
	border-radius: 2rem;
	height: 2.5rem;
	font-family: var(--lato-font);
	font-size: .79rem;
	font-weight: 700;
	cursor: pointer;
	transition: .4s;
}

.header a.button-matricula:hover{
	transform: translateY(-3px);
}

.nav{
	border-block: 1px solid #fff;
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.nav a{
	color: #fff;
    font-size: .7rem;
    transition: .3s;
    width: 21%;
}

.nav a:hover{
	color: var(--link-hover)
}

section.formacoes-title{
	padding-bottom: 6.688em;
}

section.formacoes-title h3{
	color: #fff;
	line-height: 2.5;
	font-family: "Courier New", monospace;
}

section.formacoes-title h1{
	color: #fff;
	font-size: 2.125rem;
	font-weight: 400;
	line-height: 1.2;
	background: -webkit-linear-gradient(left,#167bf7 0%,#a3ffbf 46%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section.formacoes-about{
	background-color: #fff;
	box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
	border: solid 1px #eff1f9;
	padding: 2.1875em 1rem;
	margin-inline: -1rem;
}

section.formacoes-about{
	color: var(--color-paragraph);
}

section.formacoes-about .chamadas-header p.title{
	font-size: 1.875rem;
	text-transform: uppercase;
	margin-bottom: .5em;
}

section.formacoes-about .chamadas-header p.description{
	line-height: 1.4;
}

section.formacoes-about .chamadas-first,
section.formacoes-about .chamadas-second,
section.formacoes-about .chamadas-third{
	margin-block: 3.2rem;
}

section.formacoes-about .chamadas-first p.title,
section.formacoes-about .chamadas-second p.title,
section.formacoes-about .chamadas-third p.title{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .5em;
}

section.formacoes-about .chamadas-first p.description,
section.formacoes-about .chamadas-second p.description,
section.formacoes-about .chamadas-third p.description{
	line-height: 1.4;
}

div.container{
	padding-block: 2em;
	color: var(--bg-color);
	background-color: #f8f9fa;
	margin-inline: -1rem;
	padding-inline: 1rem;
}

div.container-title{
	line-height: 1.2;
}

div.container-title p.title{
	font-family: "Courier New", monospace;
}

div.container-title p.description{
	width: 12em;
	font-size: 1.375rem;
}

div.container-cards{
	box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
	border: solid 1px #eff1f9;
	background-color: #fff;
	margin-top: 1.875em;
	padding: 1.5rem;
}

header.container-cards-header{
	display: flex;
	color: var(--color-card-programation);
}

div.container-cards-header-img img{
	width: 3.125em;
	height: 3.125em;
	margin: -.3125em .625em 0 0;
}

div.container-cards-header-p p.title{
	font-size: .875rem;
	font-weight: bold;
}

div.container-cards-header-p p.subtitle{
	font-size: 1.25rem;
	font-weight: bold;
}

div.container-cards-faixa{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-card-programation);
	font-size: .813rem;
	line-height: 2.5;
	color: #fff;
	width: calc(100% + 3rem);
	margin-block: 2rem;
	margin-inline: -1.5rem;
}

div.container-cards-faixa i.bi-fast-forward{
	color: #fff;
}

div.cards{
	padding: 1.0625em 6.75em .6875em 1.125em;
	border-radius: 5px;
	border: solid 1px #ecf5ff;
	margin-bottom: 1.8125em;
}

div.cards a.cards-title-link{
	max-width: 10.9375em;
	max-height: 2.25em;
	font-size: .938rem;
	line-height: 1.2;
	font-weight: normal;
	color: var(--color-cards);
}

div.cards a.cards-title-link:hover{
	text-decoration: underline;
}

div.cards div.cards-cursos{
	display: flex;
	gap: .4rem;
	font-size: .688rem;
	line-height: 1.82;
	color: var(--color-cards);
}

div.cards div.cards-cursos span{
	color: var(--color-card-programation);
}

@media(max-width: 768px){
	#corpo{
		width: 768px;
	}
}