#corpo {
  width: 375px;
  padding: 1.5rem 1rem;
  background-image: radial-gradient(circle at 95% 68%, #0a3871, #051933 58%);
}
@media (max-width: 768px) {
  #corpo {
    width: 768px;
  }
}
#corpo .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
#corpo .header a {
  color: #fff;
}
#corpo .header .button-matricula {
  display: flex;
  align-items: center;
  background-color: #A3FFBF;
  color: #051932;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
  height: 2.5rem;
  font-family: "Lato", sans-serif;
  font-size: 0.79rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}
#corpo .header .button-matricula:hover {
  transform: translateY(-3px);
}
#corpo .nav {
  border-block: 1px solid #fff;
  padding: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
#corpo .nav a {
  color: #fff;
  font-size: 0.7rem;
  transition: 0.5s;
  width: 15%;
}
#corpo .nav a:hover {
  color: #b1b0b0;
}
#corpo .presentation {
  color: #fff;
  margin-bottom: 15rem;
}
#corpo .presentation h2 {
  font-size: 2.12rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
#corpo .presentation p {
  font-size: 1rem;
  line-height: 150%;
}
#corpo .presentation .presentation-cards {
  margin-top: 3rem;
}
#corpo .presentation .presentation-cards button {
  border: 1px solid #0A3974;
  border-radius: 0.5rem;
  background-color: #051932;
  width: 48%;
  padding: 0.8rem;
  margin-block: 0.8%;
  text-align: left;
  cursor: pointer;
  transition: 0.5s;
}
#corpo .presentation .presentation-cards button p {
  font-size: 0.68rem;
}
#corpo .presentation .presentation-cards button p:last-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#corpo .presentation .presentation-cards button:hover {
  border: 1px solid #308dff;
}
#corpo .presentation .presentation-cards .programation {
  color: #00C86F;
}
#corpo .presentation .presentation-cards .frontend {
  color: #6BD1FF;
}
#corpo .presentation .presentation-cards .datascience {
  color: #8FC33A;
}
#corpo .presentation .presentation-cards .devops {
  color: #F16165;
}
#corpo .presentation .presentation-cards .design {
  color: #CE69B5;
}
#corpo .presentation .presentation-cards .mobile {
  color: #FFBA05;
}
#corpo .presentation .presentation-cards .inovation {
  color: #FF8C2A;
}
#corpo .know-more {
  background-color: #eee;
  position: relative;
  padding-top: 12rem;
  margin-inline: -1rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #051932;
}
#corpo .know-more .iframe {
  position: absolute;
  top: -15%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0.25em 0.25em 1.25em 0 rgba(120, 135, 182, 0.3);
}
#corpo .know-more-presentation {
  padding: 1rem;
}
#corpo .know-more-presentation h2 {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1.75rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation .presentation-p {
  padding-bottom: 2rem;
  line-height: 150%;
}
#corpo .know-more-presentation-more {
  margin-top: 2rem;
}
#corpo .know-more-presentation-more div i {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation-more div .title-p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation-more div .description-p {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 150%;
}
#corpo .formations {
  background-image: url(../assets/leme-alura-mobile.svg);
  background-repeat: no-repeat;
  background-position: 130% -4%;
  padding-block: 2.5rem;
}
#corpo .formations p.title {
  color: #167bf7;
}
#corpo .formations p.big-title {
  font-size: 1.8rem;
  padding-block: 1rem;
  color: #fff;
  width: 80%;
}
#corpo .formations p.description {
  color: #fff;
  line-height: 150%;
  width: 80%;
}
#corpo .formations-school {
  padding-block: 2rem;
}
#corpo .formations-school-container {
  padding-block: 1rem;
}
#corpo .formations-school-container header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
#corpo .formations-school-container header .programation {
  color: #00C86F;
}
#corpo .formations-school-container header i.programation {
  background-color: #03544C;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
#corpo .formations-school-container header p.programation {
  color: #00C86F;
  text-transform: uppercase;
}
#corpo .formations-school-container header .frontend {
  color: #6BD1FF;
}
#corpo .formations-school-container header i.frontend {
  background-color: #26577A;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.frontend {
  color: #6BD1FF;
  text-transform: uppercase;
}
#corpo .formations-school-container header .datascience {
  color: #8FC33A;
}
#corpo .formations-school-container header i.datascience {
  background-color: #36583B;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.devops {
  color: #F16165;
  text-transform: uppercase;
}
#corpo .formations-school-container header .devops {
  color: #F16165;
}
#corpo .formations-school-container header i.devops {
  background-color: #513349;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.devops {
  color: #F16165;
  text-transform: uppercase;
}
#corpo .formations-school-container header .design {
  color: #CE69B5;
}
#corpo .formations-school-container header i.design {
  background-color: #4A3765;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.design {
  color: #CE69B5;
  text-transform: uppercase;
}
#corpo .formations-school-container header .mobile {
  color: #FFBA05;
}
#corpo .formations-school-container header i.mobile {
  background-color: #554F2A;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.mobile {
  color: #FFBA05;
  text-transform: uppercase;
}
#corpo .formations-school-container header .inovation {
  color: #FF8C2A;
}
#corpo .formations-school-container header i.inovation {
  background-color: #554136;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.inovation {
  color: #FF8C2A;
  text-transform: uppercase;
}
#corpo .formations-school-container ul li {
  padding-top: 0.8rem;
}
#corpo .formations-school-container ul li a {
  font-size: 0.9rem;
  color: #fff;
  transition: 0.5s;
}
#corpo .formations-school-container ul li a:hover {
  color: #b1b0b0;
}
#corpo .formations-school-container a.show-school {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: underline;
}
#corpo .divers {
  background-color: #eee;
  margin-inline: -1rem;
  padding: 3rem 1rem;
}
#corpo .divers p.title {
  color: #167bf7;
}
#corpo .divers p.big-title {
  font-size: 2rem;
  padding-block: 1rem;
  color: #051932;
}
#corpo .divers p.description {
  color: #051932;
  line-height: 150%;
}
#corpo .divers-depoiments {
  box-shadow: 0 1.25em 1.25em 0 rgba(120, 135, 182, 0.12);
  border: solid 0.0625em #ecf5ff;
  border-radius: 0.4em;
  width: 90%;
  margin: 3rem auto;
  padding: 2rem 1rem;
  position: relative;
}
#corpo .divers-depoiments .bi-emoji-smile-fill {
  color: #051932;
  position: absolute;
  top: -7%;
  font-size: 1.5rem;
  border: 2px solid #051932;
  border-radius: 50%;
  padding: 0.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#corpo .divers-depoiments .cite {
  line-height: 150%;
}
#corpo .divers-depoiments p.name {
  padding-top: 1rem;
  font-weight: 700;
}
#corpo .stories {
  padding-block: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#corpo .stories p.title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}
#corpo .stories p.big-title {
  margin-bottom: 1.5em;
  font-size: clamp(1.5rem, 8vw - 3rem, 2rem);
}
#corpo .stories .stories-container a.link {
  display: block;
  margin: auto;
  background-color: #fff;
  color: #051932;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #03C2E0;
  transition: all 0.2s;
}
#corpo .stories .stories-container a.link:hover {
  box-shadow: none;
  transform: translateY(4px);
}
#corpo .stories-container-div {
  position: relative;
  border-top: 12px solid #051945;
  border-radius: 0.3rem;
  background-color: #051e3d;
  padding: 2em;
  margin-bottom: 4rem;
}
#corpo .stories-container-div .bi-emoji-smile, #corpo .stories-container-div span {
  position: absolute;
}
#corpo .stories-container-div .bi-emoji-smile {
  font-size: 3rem;
  top: -11%;
}
#corpo .stories-container-div span {
  top: 0;
  right: 30px;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  border-radius: 0 0 4px 4px;
  background-color: #051932;
}
#corpo .stories-container-div p.title {
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
}
#corpo .stories-container-div p.description {
  margin-bottom: 0.8em;
  font-size: 0.875rem;
}
#corpo .stories-container-div a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: underline;
}
#corpo .stories-container-div iframe {
  display: block;
  margin: auto;
}
#corpo .stories-container-div2 {
  position: relative;
  border-top: 12px solid #0966c1;
  border-radius: 0.3rem;
  background-color: #051e3d;
  padding: 2em;
  margin-bottom: 4rem;
}
#corpo .stories-container-div2 .bi-emoji-smile, #corpo .stories-container-div2 span {
  position: absolute;
}
#corpo .stories-container-div2 .bi-emoji-smile {
  font-size: 3rem;
  top: -48px;
}
#corpo .stories-container-div2 span {
  top: 0;
  right: 30px;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  border-radius: 0 0 4px 4px;
  background-color: #0966c1;
}
#corpo .stories-container-div2 p.title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2.5em;
}
#corpo .stories-container-div2 p.description {
  margin-bottom: 0.8em;
  font-size: 0.875rem;
}
#corpo .stories-container-div2 a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: underline;
}
#corpo .business {
  background-color: #eee;
  margin-inline: -1rem;
  padding: 3rem 1rem;
}
#corpo .business p.title {
  font-family: "Courier New", monospace;
  color: #167bf7;
  margin: 1.875em 0 0.7em;
}
#corpo .business p.big-title {
  font-size: 1.75rem;
  color: #093366;
  margin-bottom: 0.5em;
}
#corpo .business p.description {
  color: #093366;
  line-height: 1.4;
}
#corpo .business-depoiments {
  box-shadow: 0 1.25em 1.25em 0 rgba(120, 135, 182, 0.12);
  border: solid 0.0625em #ecf5ff;
  border-radius: 0.4em;
  padding: 1.875em;
  margin-block: 3em;
  position: relative;
  background: #fff;
}
#corpo .business-depoiments .logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -23px;
  border: solid 0.125em #167bf7;
}
#corpo .business-depoiments p.description {
  font-size: 0.875em;
}
#corpo .business a:hover {
  box-shadow: 0 3px 11px 0 rgba(38, 94, 142, 0.2);
  transform: translateY(1px);
}
#corpo .companies-using-alura {
  background-color: #051932;
  padding: 2.5em;
}
#corpo .companies-using-alura p {
  margin-bottom: 1.5em;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.47;
  letter-spacing: -0.3px;
}
#corpo .companies-using-alura a {
  color: #fff;
  text-decoration: underline;
  margin-top: 0.85rem;
  font-size: 0.85rem;
  text-align: center;
  display: block;
}
#corpo .companies-using-alura .companies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#corpo .companies-using-alura .companies-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  margin: 5%;
}
#corpo .companies-using-alura .companies-list img {
  border: none;
  max-width: 100%;
}
#corpo .alura-cases {
  position: relative;
  background-image: url(../assets/bg-cases.jpg);
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: right 10% top;
  color: #fff;
  padding: 5.375rem 2rem 4.375rem;
  overflow: hidden;
  margin-inline: -1rem;
}
#corpo .alura-cases h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
  width: 60%;
}
#corpo .alura-cases p {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  width: 80%;
}
#corpo .alura-cases .container-cards {
  margin-block: 3rem;
}
#corpo .alura-cases .container-cards .alura-cases-cards {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 9px;
  overflow: hidden;
  border: 2px solid #A56CFF;
  padding: 1.5rem;
  box-shadow: 11px 11px 24px rgba(120, 135, 182, 0.15);
  margin-bottom: 2rem;
}
#corpo .alura-cases .container-cards .alura-cases-cards .name {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
}
#corpo .alura-cases .container-cards .alura-cases-cards .role {
  font-weight: 300;
  margin-top: 0.4375rem;
  max-width: 200px;
  text-align: center;
}
#corpo .alura-cases .container-cards .alura-cases-cards .logo {
  margin-top: 1.875rem;
  max-width: 130px;
}
#corpo .alura-cases .container-cards .alura-cases-cards .logo img {
  max-width: 100%;
}
#corpo .alura-cases .container-cards .bg-card1 {
  background-image: url(../assets/roberta_arcoverde.jpg);
}
#corpo .alura-cases .container-cards .bg-card2 {
  background-image: url(../assets/isabela_goncalves.jpg);
}
#corpo .alura-cases .container-cards .bg-card3 {
  background-image: url(../assets/renan_martins.jpg);
}
#corpo .alura-cases .container-cards .bg-card4 {
  background-image: url(../assets/marco_aurelio.jpg);
}
#corpo .alura-cases .container-cards .bg-card5 {
  background-image: url(../assets/ana_genari.jpg);
}
#corpo .alura-cases .container-cards .bg-card6 {
  background-image: url(../assets/eduardo_amaral.jpg);
}
#corpo .alura-cases a.button-cases {
  display: block;
  background-color: #091932;
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid #A56CFF;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
#corpo .mobile-section {
  background-color: #051932;
  padding: 3.75em 0;
  background-image: radial-gradient(circle at 47% 59%, #093366, #051933 60%);
  margin-top: -3rem;
  margin-inline: -1rem;
  padding-inline: 1rem;
}
#corpo .mobile-section-info {
  display: flex;
  flex-direction: column;
  letter-spacing: -0.2px;
  align-items: self-start;
  margin-top: 30px;
}
#corpo .mobile-section-info p.title {
  font-size: 1.75rem;
  color: #167bf7;
}
#corpo .mobile-section-info p {
  margin-top: 0.312em;
  line-height: 1.4;
  color: #fff;
}
#corpo .mobile-section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}
#corpo .mobile-section-buttons .mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  height: 3.75em;
  background-color: #536f90;
  transition: all 0.3s ease;
  border-radius: 2.875em;
  width: 100%;
  box-shadow: 4px 4px 20px 0 rgba(120, 135, 182, 0.12);
  font-size: 1rem;
  color: #fff;
}
#corpo .mobile-section-buttons .mobile-btn i {
  font-size: 2.5rem;
}
#corpo .mobile-section-buttons .mobile-btn:hover {
  transform: translateY(1px);
}
#corpo .prices {
  background-color: #fff;
  margin-inline: -1rem;
  padding: 1rem;
}
#corpo .prices h2.title {
  padding-top: 70px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #167bf7;
  text-align: center;
  letter-spacing: -0.018em;
}
#corpo .prices .payments {
  background-image: url(../assets/icon-plan-premium-2.svg);
  background-repeat: no-repeat;
  width: 90%;
  margin-block: 2rem;
  margin-inline: auto;
  padding: 2.5rem 2rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(120, 135, 182, 0.3);
  border-radius: 1px;
}
#corpo .prices .payments-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 250%;
  margin-bottom: 1rem;
}
#corpo .prices .payments-header h3 {
  text-transform: uppercase;
  color: #167bf7;
  font-weight: 400;
}
#corpo .prices .payments-section {
  line-height: 220%;
  color: #093366;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#corpo .prices .payments-section p.title {
  display: flex;
  align-items: center;
}
#corpo .prices .payments-section p.title span {
  font-size: 2.188rem;
  letter-spacing: 0.001em;
}
#corpo .prices .payments-list li {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  color: #093366;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
#corpo .prices .payments-list li .bi-check-lg {
  color: #167bf7;
  height: 12px;
  width: 15px;
  font-size: 1.2rem;
}
#corpo .prices .payments-list li .off {
  color: #dce5f1;
}
#corpo .prices section.pro {
  border-top: 12px solid #167bf7;
}
#corpo .prices .prices-link {
  display: block;
  padding-block: 2rem;
  color: #093366;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: underline;
}
#corpo .advantages {
  padding: 4.132em 0;
  font-size: 1.2rem;
  color: #e5f1ff;
  background-color: #093366;
  margin-inline: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
#corpo .advantages-div {
  text-align: center;
  line-height: 180%;
  width: 60%;
}
#corpo .footer {
  padding: 2.5rem 3rem;
  color: #fff;
  text-align: center;
}
#corpo .footer-header h2.title {
  padding-block: 2rem 1.5rem;
}
#corpo .footer-header .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
#corpo .footer-header .list .bi {
  font-size: 1.2rem;
  color: #093366;
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 0.3rem;
}
#corpo .footer .container-dl {
  margin-block: 4.5rem 2rem;
  text-align: left;
}
#corpo .footer .container-dl dl {
  padding-bottom: 2rem;
}
#corpo .footer .container-dl dl dt {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
#corpo .footer .container-dl dl dd {
  line-height: 250%;
}
#corpo .footer .container-dl dl dd a {
  color: #fff;
  font-size: 0.875rem;
  transition: 0.5s;
}
#corpo .footer .container-dl dl dd a:hover {
  color: #b1b0b0;
}
#corpo .footer .container-dl dl #button-whatsapp {
  display: flex;
  align-items: center;
  border: 2px solid #34af23;
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  height: 40px;
}
#corpo .footer .container-dl dl #button-whatsapp .bi-whatsapp {
  color: #34af23;
  font-size: 1rem;
  margin-right: 5px;
}
#corpo .footer .container-dl dl .button-receber {
  background-color: #051932;
  display: flex;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  padding: 1rem;
  color: #fff;
  font-size: 0.875rem;
  transition: 0.3s;
}
#corpo .footer .container-dl dl .button-receber .input {
  width: 70%;
  border: none;
  background-color: transparent;
}
#corpo .footer .container-dl dl .button-receber .input:focus {
  border: none;
}
#corpo .footer .container-dl dl .button-receber .input::placeholder {
  color: #ddd;
  font-size: 0.875rem;
}
#corpo .footer .container-dl dl .button-receber:hover {
  border-color: #167bf7;
}
#corpo .courses {
  background-color: #031326;
  margin-inline: -1rem;
  padding: 2.5rem 4rem;
}
#corpo .courses p.title {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
#corpo .courses dt a {
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}
#corpo .courses dt a:hover {
  color: #b1b0b0;
}
#corpo .courses dd,
#corpo .courses dd a {
  color: #fff;
  font-size: 0.875rem;
  line-height: 150%;
  transition: 0.3s;
}
#corpo .courses dd a:hover {
  color: #b1b0b0;
}
#corpo .courses dd {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=page-one.css.map */
