#corpo {
  width: 375px;
  padding: 1.5rem 1rem;
  background-image: radial-gradient(circle at 95% 68%, #0a3871, #051933 58%);
}
@media (max-width: 768px) {
  #corpo {
    width: 768px;
  }
}
#corpo .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding-bottom: 1rem;
}
#corpo .header p {
  font-size: 2rem;
  color: #fff;
}
#corpo .header a {
  color: #fff;
}
#corpo .header .button-matricula {
  display: flex;
  align-items: center;
  background-color: #A3FFBF;
  color: #051932;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
  height: 2.5rem;
  font-family: "Lato", sans-serif;
  font-size: 0.79rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}
#corpo .header .button-matricula:hover {
  transform: translateY(-3px);
}
#corpo .nav {
  border-block: 1px solid #fff;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
#corpo .nav a {
  color: #fff;
  font-size: 0.7rem;
  transition: 0.5s;
  width: 15%;
}
#corpo .nav a:hover {
  color: #b1b0b0;
}
#corpo .presentation {
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-bottom: 15rem;
}
#corpo .presentation h2 {
  font-size: 2.12rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
#corpo .presentation p {
  font-size: 1rem;
  line-height: 150%;
}
#corpo .presentation .presentation-cards {
  margin-top: 3rem;
}
#corpo .presentation .presentation-cards button {
  border: 1px solid #0A3974;
  border-radius: 0.5rem;
  background-color: #051932;
  width: 48%;
  padding: 0.8rem;
  margin-block: 0.8%;
  text-align: left;
  cursor: pointer;
  transition: 0.5s;
}
#corpo .presentation .presentation-cards button p {
  font-size: 0.68rem;
}
#corpo .presentation .presentation-cards button p:last-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#corpo .presentation .presentation-cards button:hover {
  border: 1px solid #308dff;
}
#corpo .presentation .presentation-cards .programation {
  color: #00C86F;
}
#corpo .presentation .presentation-cards .frontend {
  color: #6BD1FF;
}
#corpo .presentation .presentation-cards .datascience {
  color: #8FC33A;
}
#corpo .presentation .presentation-cards .devops {
  color: #F16165;
}
#corpo .presentation .presentation-cards .design {
  color: #CE69B5;
}
#corpo .presentation .presentation-cards .mobile {
  color: #FFBA05;
}
#corpo .presentation .presentation-cards .inovation {
  color: #FF8C2A;
}
#corpo .know-more {
  background-color: #eee;
  position: relative;
  padding-top: 12rem;
  margin-inline: -1rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #051932;
}
#corpo .know-more .iframe {
  position: absolute;
  top: -15%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0.25em 0.25em 1.25em 0 rgba(120, 135, 182, 0.3);
}
#corpo .know-more-presentation {
  padding: 1rem;
}
#corpo .know-more-presentation h2 {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1.75rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation .presentation-p {
  padding-bottom: 2rem;
  line-height: 150%;
}
#corpo .know-more-presentation button {
  background-color: #A3FFBF;
  padding: 1rem;
  border-radius: 2rem;
  width: 90%;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  color: #051932;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.285em 0.571em 0;
}
#corpo .know-more-presentation-more {
  margin-top: 2rem;
}
#corpo .know-more-presentation-more div i {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation-more div .title-p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
#corpo .know-more-presentation-more div .description-p {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 150%;
}
#corpo .formations {
  background-image: url(../assets/leme-alura-mobile.svg);
  background-repeat: no-repeat;
  background-position: 130% -4%;
  font-family: "Inter", sans-serif;
  padding-block: 2.5rem;
}
#corpo .formations p.title {
  color: #167bf7;
}
#corpo .formations p.big-title {
  font-size: 1.8rem;
  padding-block: 1rem;
  color: #fff;
  width: 80%;
}
#corpo .formations p.description {
  color: #fff;
  line-height: 150%;
  width: 80%;
}
#corpo .formations-school {
  padding-block: 2rem;
}
#corpo .formations-school-container {
  padding-block: 1rem;
}
#corpo .formations-school-container header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
#corpo .formations-school-container header .programation {
  color: #00C86F;
}
#corpo .formations-school-container header i.programation {
  background-color: #03544C;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
#corpo .formations-school-container header p.programation {
  color: #00C86F;
  text-transform: uppercase;
}
#corpo .formations-school-container header .frontend {
  color: #6BD1FF;
}
#corpo .formations-school-container header i.frontend {
  background-color: #26577A;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.frontend {
  color: #6BD1FF;
  text-transform: uppercase;
}
#corpo .formations-school-container header .datascience {
  color: #8FC33A;
}
#corpo .formations-school-container header i.datascience {
  background-color: #36583B;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.devops {
  color: #F16165;
  text-transform: uppercase;
}
#corpo .formations-school-container header .devops {
  color: #F16165;
}
#corpo .formations-school-container header i.devops {
  background-color: #513349;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.devops {
  color: #F16165;
  text-transform: uppercase;
}
#corpo .formations-school-container header .design {
  color: #CE69B5;
}
#corpo .formations-school-container header i.design {
  background-color: #4A3765;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.design {
  color: #CE69B5;
  text-transform: uppercase;
}
#corpo .formations-school-container header .mobile {
  color: #FFBA05;
}
#corpo .formations-school-container header i.mobile {
  background-color: #554F2A;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.mobile {
  color: #FFBA05;
  text-transform: uppercase;
}
#corpo .formations-school-container header .inovation {
  color: #FF8C2A;
}
#corpo .formations-school-container header i.inovation {
  background-color: #554136;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-size: 1.5rem;
}
#corpo .formations-school-container header p.inovation {
  color: #FF8C2A;
  text-transform: uppercase;
}
#corpo .formations-school-container ul li {
  padding-top: 0.8rem;
}
#corpo .formations-school-container ul li a {
  font-size: 0.9rem;
  color: #fff;
  transition: 0.5s;
}
#corpo .formations-school-container ul li a:hover {
  color: #b1b0b0;
}
#corpo .formations-school-container a.show-school {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: underline;
}
#corpo .divers {
  background-color: #eee;
  margin-inline: -1rem;
  padding: 3rem 1rem;
  font-family: "Inter", sans-serif;
}
#corpo .divers p.title {
  color: #167bf7;
}
#corpo .divers p.big-title {
  font-size: 2rem;
  padding-block: 1rem;
  color: #051932;
}
#corpo .divers p.description {
  color: #051932;
  line-height: 150%;
}
#corpo .divers-depoiments {
  box-shadow: 0 1.25em 1.25em 0 rgba(120, 135, 182, 0.12);
  border: solid 0.0625em #ecf5ff;
  border-radius: 0.4em;
  width: 90%;
  margin: 3rem auto;
  padding: 2rem 1rem;
  position: relative;
}
#corpo .divers-depoiments .bi-emoji-smile-fill {
  color: #051932;
  position: absolute;
  top: -7%;
  font-size: 1.5rem;
  border: 2px solid #051932;
  border-radius: 50%;
  padding: 0.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#corpo .divers-depoiments .cite {
  line-height: 150%;
}
#corpo .divers-depoiments p.name {
  padding-top: 1rem;
  font-weight: 700;
}
#corpo .stories {
  padding-block: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#corpo .stories p.title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}
#corpo .stories p.big-title {
  margin-bottom: 1.5em;
  font-size: clamp(1.5rem, 8vw - 3rem, 2rem);
}
#corpo .stories .stories-container a.link {
  display: block;
  margin: auto;
  background-color: #fff;
  color: #051933;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  max-width: 90%;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #03C2E0;
  transition: all 0.2s;
}
#corpo .stories .stories-container a.link:hover {
  box-shadow: none;
  transform: translateY(4px);
}
#corpo .stories-container-div {
  position: relative;
  border-top: 12px solid #051945;
  border-radius: 0.3rem;
  background-color: #051e3d;
  padding: 2em;
  margin-bottom: 4rem;
}
#corpo .stories-container-div .bi-emoji-smile, #corpo .stories-container-div span {
  position: absolute;
}
#corpo .stories-container-div .bi-emoji-smile {
  font-size: 3rem;
  top: -11%;
}
#corpo .stories-container-div span {
  top: 0;
  right: 30px;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  border-radius: 0 0 4px 4px;
  background-color: #051933;
}
#corpo .stories-container-div p.title {
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
}
#corpo .stories-container-div p.description {
  margin-bottom: 0.8em;
  font-size: 0.875rem;
}
#corpo .stories-container-div a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: underline;
}
#corpo .stories-container-div2 {
  position: relative;
  border-top: 12px solid #0966c1;
  border-radius: 0.3rem;
  background-color: #051e3d;
  padding: 2em;
  margin-bottom: 4rem;
}
#corpo .stories-container-div2 .bi-emoji-smile, #corpo .stories-container-div2 span {
  position: absolute;
}
#corpo .stories-container-div2 .bi-emoji-smile {
  font-size: 3rem;
  top: -48px;
}
#corpo .stories-container-div2 span {
  top: 0;
  right: 30px;
  padding: 0.2em 2em;
  font-size: 0.9rem;
  border-radius: 0 0 4px 4px;
  background-color: #0966c1;
}
#corpo .stories-container-div2 p.title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2.5em;
}
#corpo .stories-container-div2 p.description {
  margin-bottom: 0.8em;
  font-size: 0.875rem;
}
#corpo .stories-container-div2 a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: underline;
}

/*# sourceMappingURL=page-one.css.map */
