$bg-color: #051932
$bg-button: #A3FFBF
$bg-container: #093366
$bg-subscribe: #146EDC

$gradient-form-1: #072347
$gradient-form-2: #082F5F

$border: #2A7AE4
$border-red-button: #DB4A39
$border-blue-button: #325BAA
$border-form: #167BF7

// font-weight: 400 e 700
$inter-font: 'Inter', sans-serif
$lato-font: 'Lato', sans-serif
// font-weight: 300, 400 e 700
$open-sans-font: 'Open Sans', sans-serif