@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    border: none

body
    height: 100vh
    width: 100vw
    background-color: variables.$bg-color
    display: flex
    justify-content: center
    border-top: 5px solid variables.$border
    font-family: variables.$inter-font

.button-link
    width: 100%
    border-radius: 2.285em
    background-color: variables.$bg-button
    text-decoration: none
    text-align: center
    color: variables.$bg-color
    padding: 1.428em
    text-transform: uppercase
    font-weight: bold
    font-size: .875rem
    max-width: 19.3em
    margin: 2em auto 0
    display: block
    box-shadow: 0 .357em .714em 0 rgba(38,94,142,.2)
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    cursor: pointer