@use 'variables'
@use 'mixins'
    
#corpo
    width: 375px
    padding: 1.5rem 1rem
    background-image: radial-gradient(circle at 95% 68%,#0a3871,#051933 58%)

    @include mixins.quebra1 
        width: 768px

    .header
        display: flex
        justify-content: space-between
        align-items: center
        font-family: variables.$inter-font
        padding-bottom: 1rem

        p
            font-size: 2rem
            color: #fff
        
        a
            color: #fff
        
        .button-matricula
            display: flex
            align-items: center
            background-color: variables.$bg-button
            color: variables.$bg-color
            padding: 1rem 1.2rem
            border-radius: 2rem
            height: 2.5rem
            font-family: variables.$lato-font
            font-size: .79rem
            font-weight: 700
            cursor: pointer
            transition: .4s
        
        .button-matricula:hover
            transform: translateY(-3px)
    
    .nav
        border-block: 1px solid #fff
        padding: 1rem
        font-family: variables.$inter-font
        text-transform: uppercase
        display: flex
        justify-content: space-between
        margin-bottom: 4rem

        a
            color: #fff
            font-size: .7rem
            transition: .5s
            width: 15%
        
        a:hover 
            color: variables.$link-hover

    .presentation
        font-family: variables.$inter-font
        color: #fff
        margin-bottom: 15rem

        h2
            font-size: 2.12rem
            font-weight: 400
            padding-bottom: 1rem

        p
            font-size: 1rem
            line-height: 150%

        .presentation-cards
            margin-top: 3rem

            button
                border: 1px solid #0A3974
                border-radius: .5rem
                background-color: variables.$bg-color
                width: 48%
                padding: .8rem
                margin-block: .8%
                text-align: left
                cursor: pointer
                transition: .5s

                p
                    font-size: .68rem

                p:last-child
                    text-transform: uppercase
                    font-size: .9rem
            
            button:hover
                border: 1px solid variables.$border-hover

            .programation
                color: variables.$color-card-programation

            .frontend
                color: variables.$color-card-frontend
            
            .datascience
                color: variables.$color-card-datascience
            
            .devops
                color: variables.$color-card-devops
            
            .design
                color: variables.$color-card-design
            
            .mobile
                color: variables.$color-card-mobile
            
            .inovation
                color: variables.$color-card-inovation
    
    .know-more
        background-color: #eee
        position: relative
        padding-top: 12rem
        margin-inline: -1rem
        padding-bottom: 2.5rem

        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        text-align: center
        font-family: variables.$inter-font
        color: variables.$bg-color

        .iframe
            position: absolute
            top: -15%
            background-color: #fff
            padding: 1rem
            box-shadow: .25em .25em 1.25em 0 rgba(120,135,182,.3)

        &-presentation
            padding: 1rem

            h2
                margin-top: 3rem
                font-weight: 400
                font-size: 1.75rem
                padding-bottom: 1rem
            
            .presentation-p
                padding-bottom: 2rem
                line-height: 150%

            button
                background-color: variables.$bg-button
                padding: 1rem
                border-radius: 2rem
                width: 90%
                cursor: pointer
                text-transform: uppercase
                font-size: 1rem
                color: variables.$bg-color
                box-shadow: rgba(0,0,0,.2) 0 .285em .571em 0
            
            &-more 
                margin-top: 2rem

                div
                    i
                        font-size: 2.5rem
                        padding-bottom: 1rem

                    .title-p
                        font-size: 1.5rem
                        padding-bottom: 1rem
                    
                    .description-p
                        font-size: 1rem
                        padding-bottom: 1rem
                        line-height: 150%
    
    .formations
        background-image: url(../assets/leme-alura-mobile.svg)
        background-repeat: no-repeat
        background-position: 130% -4%

        font-family: variables.$inter-font
        padding-block: 2.5rem

        p.title
            color: variables.$title-p
        
        p.big-title
            font-size: 1.8rem
            padding-block: 1rem
            color: #fff
            width: 80%
        
        p.description 
            color: #fff
            line-height: 150%
            width: 80%

        &-school
            padding-block: 2rem

            &-container
                padding-block: 1rem

                header
                    display: flex
                    align-items: center
                    gap: .6rem

                    .programation
                            color: variables.$color-card-programation

                    i.programation 
                        background-color: variables.$bg-icon-programation
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.1rem
                        font-size: 1.5rem
                        border-radius: .5rem
                    
                    p.programation
                        color: variables.$color-card-programation
                        text-transform: uppercase

                    .frontend
                            color: variables.$color-card-frontend

                    i.frontend 
                        background-color: variables.$bg-icon-frontend
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.frontend
                        color: variables.$color-card-frontend
                        text-transform: uppercase

                    .datascience
                            color: variables.$color-card-datascience

                    i.datascience 
                        background-color: variables.$bg-icon-datascience
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.devops
                        color: variables.$color-card-devops
                        text-transform: uppercase
                    
                    .devops
                            color: variables.$color-card-devops

                    i.devops 
                        background-color: variables.$bg-icon-devops
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.devops
                        color: variables.$color-card-devops
                        text-transform: uppercase
                    
                    .design
                            color: variables.$color-card-design

                    i.design 
                        background-color: variables.$bg-icon-design
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.design
                        color: variables.$color-card-design
                        text-transform: uppercase
                    
                    .mobile
                            color: variables.$color-card-mobile

                    i.mobile 
                        background-color: variables.$bg-icon-mobile
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.mobile
                        color: variables.$color-card-mobile
                        text-transform: uppercase
                    
                    .inovation
                            color: variables.$color-card-inovation

                    i.inovation 
                        background-color: variables.$bg-icon-inovation
                        width: 30px
                        height: 30px
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1.3rem
                        font-size: 1.5rem
                    
                    p.inovation
                        color: variables.$color-card-inovation
                        text-transform: uppercase
            
                ul li
                    padding-top: .8rem

                    a
                        font-size: .9rem
                        color: #fff
                        transition: .5s
                    
                    a:hover 
                        color: variables.$link-hover
                
                a.show-school
                    color: #fff
                    font-size: .8rem
                    text-decoration: underline

    .divers
        background-color: #eee
        margin-inline: -1rem
        padding: 3rem 1rem
        font-family: variables.$inter-font

        p.title
            color: variables.$title-p

        p.big-title
            font-size: 2rem
            padding-block: 1rem
            color: variables.$bg-color
        
        p.description 
            color: variables.$bg-color
            line-height: 150%
        
        &-depoiments
            box-shadow: 0 1.25em 1.25em 0 rgba(120,135,182,.12)
            border: solid .0625em #ecf5ff
            border-radius: .4em
            width: 90%
            margin: 3rem auto
            padding: 2rem 1rem
            position: relative

            .bi-emoji-smile-fill
                color: variables.$bg-color
                position: absolute
                top: -7%
                font-size: 1.5rem
                border: 2px solid variables.$bg-color
                border-radius: 50%
                padding: .5rem
                width: 45px
                height: 45px
                display: flex
                align-items: center
                justify-content: center
            
            .cite
                line-height: 150%
            
            p.name 
                padding-top: 1rem
                font-weight: 700
    
    .stories
        padding-block: 3rem
        font-family: variables.$open-sans-font
        color: #fff

        p.title
            margin-bottom: .5rem
            font-size: 1.125rem
        
        p.big-title
            margin-bottom: 1.5em
            font-size: clamp(1.5rem,8vw - 3rem,2rem)

        .stories-container a.link
            display: block
            margin: auto
            background-color: #fff
            color: #051933
            font-weight: 700
            font-size: .9rem
            text-align: center
            max-width: 90%
            padding: 1rem
            border-radius: 4px
            box-shadow: 0 4px 0 0 #03C2E0
            transition: all .2s

        .stories-container a.link:hover
            box-shadow: none
            transform: translateY(4px)

        &-container-div
            position: relative
            border-top: 12px solid #051945
            border-radius: .3rem
            background-color: variables.$bg-depoiments
            padding: 2em
            margin-bottom: 4rem

            .bi-emoji-smile, span
                position: absolute
            
            .bi-emoji-smile
                font-size: 3rem
                top: -11%
            
            span
                top: 0
                right: 30px
                padding: .2em 2em
                font-size: .9rem
                border-radius: 0 0 4px 4px
                background-color: variables.$bg-color

            p.title 
                font-size: 1rem
                margin-bottom: .5em
                margin-top: 1.25em
            
            p.description 
                margin-bottom: .8em
                font-size: .875rem
            
            a
                color: #fff
                font-size: .9rem
                text-decoration: underline
        
        &-container-div2
            position: relative
            border-top: 12px solid #0966c1
            border-radius: .3rem
            background-color: #051e3d
            padding: 2em
            margin-bottom: 4rem

            .bi-emoji-smile, span
                position: absolute
            
            .bi-emoji-smile
                font-size: 3rem
                top: -48px
            
            span
                top: 0
                right: 30px
                padding: .2em 2em
                font-size: .9rem
                border-radius: 0 0 4px 4px
                background-color: #0966c1

            p.title 
                font-size: 1rem
                font-weight: 700
                margin-bottom: .5em
                margin-top: 2.5em
            
            p.description 
                margin-bottom: .8em
                font-size: .875rem
            
            a
                color: #fff
                font-size: .9rem
                text-decoration: underline

    .business
        background-color: #eee
        margin-inline: -1rem
        padding: 3rem 1rem
        font-family: variables.$inter-font

        p.title
            font-family: "Courier New", monospace
            color: variables.$color-title
            margin: 1.875em 0 .7em

        p.big-title
            font-size: 1.75rem
            color: variables.$color-paragraph
            margin-bottom: .5em

        p.description
            color: variables.$color-paragraph
            line-height: 1.4

        &-depoiments
            box-shadow: 0 1.25em 1.25em 0 rgba(120,135,182,.12)
            border: solid .0625em #ecf5ff
            border-radius: .4em
            padding: 1.875em
            margin-block: 3em
            position: relative
            background: #fff

            .logo
                border-radius: 50%
                width: 45px
                height: 45px
                position: absolute
                top: -23px
                border: solid .125em #167bf7

            p.description
                font-size: .875em

        a
            width: 100%
            border-radius: 2.285em
            background-color: variables.$bg-button
            text-decoration: none
            text-align: center
            color: #051933
            padding: 1.428em
            text-transform: uppercase
            font-weight: bold
            font-size: .875rem
            max-width: 19.3em
            margin: 4.2em auto 0
            display: block
            box-shadow: 0 .357em .714em 0 rgba(38,94,142,.2)
            -webkit-transition: all 0.3s ease
            transition: all 0.3s ease

        a:hover
            box-shadow: 0 3px 11px 0 rgba(38,94,142,.2)
            -webkit-transform: translateY(1px)
            transform: translateY(1px)

    .companies-using-alura
        background-color: variables.$bg-color
        padding: 2.5em
        font-family: variables.$inter-font

        p
            margin-bottom: 1.5em
            color: #fff
            font-size: 1.5rem
            text-align: center
            line-height: 1.47
            letter-spacing: -.3px

        a
            color: #fff
            text-decoration: underline
            margin-top: .85rem
            font-size: .85rem
            text-align: center
            display: block

        .companies-list
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap

            li
                display: flex
                justify-content: center
                align-items: center
                flex-basis: 40%
                margin: 5%

            img
                border: none
                max-width: 100%